*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

body{
    background-color: rgb(211, 9, 157);
}

.ltr{
    background-color: aqua;
    text-align: center;
    color: rgb(221, 83, 24);
    box-shadow: 10px 5px 10px 5px black;
    justify-content: center;
    align-items: center;
}

.item{
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 30px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid rgb(0, 200, 200);
    transform: rotateX(70deg);
    animation: move 2s linear calc(var(--i)*0.09s) infinite;
    box-shadow:  0 0 15px rgb(33, 143, 34)
}

@keyframes move{
    /* 0%{
        transform: rotateX(0deg) translateY(0px);
        filter: hue-rotate(0deg)
    } */
    100%{
        transform: rotateX(70deg) translateY(0px);
        filter: hue-rotate(0deg)
    }
    50%{
        transform: rotateX(70deg) translateY(-400px);
        filter: hue-rotate(180deg)
    }
}